*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 36, 36);
}
.center{
    color:whitesmoke;
    text-align: center;
    margin: 350px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid red 5px;
    border-radius: 5px;
    padding: 20px;
    display:  inline-block;
}
#clock{
    background-color: rgb(225, 142, 26);
    margin-top: 15px;
    padding: 10px;
    display: inline-block;
    border: solid rgb(0, 47, 233) 5px;
    border-radius: 10px;
}